body {
  background-color: #f0f0f0;
  font-family: "BlinkMacSystemFont";
  overflow: hidden;
}

.rounded {
  width: 91.5rem;
  margin-left: -4rem;
  margin-top: -1.3rem;
  height: 40rem;
}

button {
  height: 1.8rem;
  margin-top: 0rem;
  padding: 0;
}

thead {
  background-color: #f0f0f0;
  height: 3.5rem;
}

tr {
  height: 2.5rem;
}

.icon-set {
  height: 1.8rem;
  margin-right: 1.2rem;
  margin-top: 0.4rem;
  cursor: pointer;
}

.icon-set-vert {
  width: 2.4rem;
  cursor: pointer;
}

.icon {
  width: 2.4rem;
  height: 3rem;
  cursor: pointer;
}

.left-bar-bg {
  width: 2.5rem;
  height: 100vh;
}

.top-bar-bg {
  width: 100vw;
  height: 8rem;
}

.apptio-drive {
  height: 2rem;
  margin-left: 3.6rem;
  margin-top: 5rem;
}

.main-content {
  margin-top: 10rem;
}

.filter-options {
  height: 2rem;
  width: 4.8rem;
  margin-top: -0.5rem;
  cursor: pointer;
}

.table-div {
  border: 1px solid #AEB6BF;
  height: 36rem;
  border-radius: 0.3%;
}

.cloud-icon {
  color: #0e6dfd;
  font-size: 1.2rem;
}

.badge {
  font-size: 0.8rem;
  font-weight: 1;
}

.card-body {
  margin-top: -0.5rem;
  padding: 1rem 0rem;
}

.form-check-input {
  cursor: pointer;
}

.align-middle {
  vertical-align: middle!important;
}

/*<<<<<<< Updated upstream*/
.table-col {
  font-size: 13px;
  font-weight: 500;
}

.heading {
  font-size: 13px;
  font-weight: 600;
}

.form-check-input {
  border-radius: 0em;
  width: 0.9em;
  height: 0.9em;
  border: 1.8px solid #817f7f;
}

.form-check-input[type=checkbox] {
  border-radius: 0em;
}

.line{
  color: #dfdddd;
  position: absolute;
  margin-left: -1.2rem;
}

.table-col {
  font-size: 13px;
  font-weight: 500;
}

.heading {
  font-size: 13px;
  font-weight: 600;
}

.form-check-input {
  border-radius: 0em;
  width: 0.9em;
  height: 0.9em;
  border: 1.8px solid #817f7f;
}

.form-check-input[type=checkbox] {
  border-radius: 0em;
}

.line {
  color: #dfdddd;
  position: absolute;
  margin-left: -1.2rem;
}

.child-list {
  cursor: pointer;
  margin-left: -1.5%;
  position: absolute;
  font-size: 0.8rem;
}

/* added using js */
.sm-table-col {
  font-size: 12px;
  font-weight: 500;
}

.icon-style {
  color: #0026ffcc;
}